<div class="row">
    <div class="col-md-12">
        <div class="card shadow-lg p-3 mb-5 bg-white rounded">
            <img src="~/Content/assets/img/logo2.png" class="img-fluid mx-auto d-block">
            <div class="card-body">
                <div class="col-md-12">
                    <div class="card card-default">
                        <div class="card-body">
                            <div class="row ">
                                <div class="col-sm-4">
                                    <ul class="nav nav-tabs nav-stacked flex-column">
                                        <li class="nav-item">
                                            <a href="#vtab1" class="nav-link active" data-toggle="tab" aria-expanded="true">
                                                <i class="mdi mdi-history"></i> Historia
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#vtab2" class="nav-link" data-toggle="tab" aria-expanded="false">
                                                <i class="mdi mdi-bullseye-arrow"></i> Misión
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#vtab3" class="nav-link" data-toggle="tab">
                                                <i class="mdi mdi-comment-eye"></i> Visión
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#vtab4" class="nav-link" data-toggle="tab">
                                                <i class="mdi mdi-human-handsup"></i> Valores
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#vtab5" class="nav-link" data-toggle="tab">
                                                <i class="mdi mdi-nature-people"></i> Responsabilidad social
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#vtab6" class="nav-link" data-toggle="tab">
                                                <i class="mdi mdi-account-network"></i> Organigrama
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#vtab7" class="nav-link" data-toggle="tab">
                                                <i class="mdi mdi-format-list-checks"></i> Objetivos de la empresa

                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="tab-content col-sm-8 ">
                                    <div class="tab-pane fade active show text-dark" id="vtab1" aria-expanded="true">
                                        <center><strong>Historia</strong></center> <hr />
                                        El Progreso es una empresa
                                        costarricense, nacida en el año 2010 en
                                        Desamparados de San José, la cual
                                        desde sus inicios se ha ganado el
                                        corazón de los costarricenses brindando
                                        productos de crédito y ahorro, a precios
                                        justos y accesibles para el público en
                                        general.<br />
                                        Dada la demanda actual en el mercado
                                        financiero, y la creciente tendencia en el
                                        análisis de datos, El Progreso ha visto la
                                        necesidad de desarrollar un sistema
                                        web, que le permita tener un contacto
                                        más directo con sus clientes, y a la vez
                                        brindar a los usuarios información de
                                        importancia para la toma de decisiones
                                        financieras, esto mediante una interfaz
                                        amigable, confiable y que sea
                                        vanguardista de las últimas tecnologías.<br />
                                        El Progreso conoce muy bien las necesidades los sus clientes, sin embargo, es
                                        consciente de la poca educación financiera que reciben los mismos en los centros
                                        educativos de primera y segunda enseñanza, así como universitario, por lo cual desea
                                        incluir como pilar de la aplicación web, información de tres indicadores financieros que
                                        usualmente las personas no conocen: Tasa de Política Monetaria, Tasa Básica Pasiva y
                                        Tipos de Cambio del dólar estadounidense con relación al colón costarricense.<br />
                                        Los indicadores mencionados anteriormente, son creados por el Banco Central de Costa
                                        Rica y los mismos pueden ser consultados en la página web oficial del mismo.<br />
                                        A continuación se enuncian algunos aspectos importantes generales de la empresa
                                        como insumo para el desarrollo de la aplicación web.
                                    </div>
                                    <div class="tab-pane fade text-dark" id="vtab2" aria-expanded="false">
                                        <center><strong>Misión</strong></center> <hr />
                                        Ser creativos y eficaces en la gestión de inversiones y en la generación de oportunidades
                                        de inversión y soluciones financieras, fundamentados en las necesidades de las empresas y en nuestra experiencia y conocimiento, creando valor a nuestros accionistas
                                        y nuestra comunidad.
                                    </div>
                                    <div class="tab-pane fade text-dark" id="vtab3" aria-expanded="false">
                                        <center><strong>Visión</strong></center> <hr />
                                        Ser reconocidos como la entidad financiera líder en la creación, desarrollo,
                                        administración y distribución de inversiones, comprometidos con el crecimiento
                                        económico del país.
                                    </div>
                                    <div class="tab-pane fade text-dark" id="vtab4" aria-expanded="false">
                                        <center><strong>Valores</strong></center><hr />
                                        Nuestros valores son los siguientes: <br />
                                        • Integridad<br />
                                        • Creatividad<br />
                                        • Enseñar con el ejemplo<br />
                                        • Escuchar para entender<br />
                                        • Trabajar en equipo<br />
                                        • Desarrollar a otros<br />
                                    </div>
                                    <div class="tab-pane fade text-dark" id="vtab5" aria-expanded="false">
                                        <center><strong>Responsabilidad social</strong></center><hr />
                                        En El Progreso contamos con políticas y prácticas fundamentadas en principios y
                                        valores, que contribuyen al logro de los objetivos de la compañía y al fortalecimiento de
                                        relaciones de mutuo beneficio con nuestros grupos de interés (accionistas, clientes,
                                        empresas del portafolio de inversiones, proveedores, colaboradores y comunidad en
                                        general), controlando y midiendo los impactos social, económico y ambiental.
                                        De la mano de nuestro objeto social, logramos cumplir los objetivos de responsabilidad
                                        social empresarial, a través de las unidades de negocio, las filiales y empresas del
                                        portafolio con las cuales logramos un mayor impacto al llegar a distintos sectores de la
                                        sociedad.<br />
                                        Por lo anterior y tomando en consideración su vasta experiencia como programador y la
                                        recomendación de algunos de nuestros clientes, El Progreso lo ha contratado para que
                                        realice una herramienta acorde a las necesidades que se presentarán en los siguientes
                                        puntos.

                                    </div>
                                    <div class="tab-pane fade text-dark" id="vtab6" aria-expanded="false">
                                        <center><strong>Organigrama</strong></center><hr />
                                        falta
                                    </div>
                                    <div class="tab-pane fade text-dark" id="vtab7" aria-expanded="false">
                                        <center><strong>Objetivos de la empresa</strong></center><hr />
                                       falta
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>