<div class="row">
    <div class="col-md-12">
        <div class="tittle">
            <h2 class="text-dark">Principales indicadores económicos</h2>
        </div>
        <div class="card-group shadow-lg p-3 mb-2 bg-white rounded">
            <div class="card text-dark bg-light m-1 shadow-sm card-button">
                <div class="card-header bg-transparent text-center">Tasa de Política Monetaria</div>
                <div class="card-body">
                    <p class="card-text">Tasa calculada por el Banco Central que guía y orienta a los intermediarios financieros hacia dónde se dirigirá la política monetaria en los próximos meses.</p>
                </div>
            </div>
            <div class="card text-dark bg-light m-1 shadow-sm card-button">
                <div class="card-header bg-transparent text-center">Tasa Básica Pasiva</div>
                <div class="card-body">
                    <p class="card-text">Tasa de referencia calculada por el Banco Central de Costa Rica que estima, en promedio, la tasa que pagan los bancos públicos y privados en el país y las entidades financieras por los depósitos o ahorros en colones.</p>
                </div>
            </div>
            <div class="card text-dark bg-light m-1 shadow-sm card-button">
                <div class="card-header bg-transparent text-center">Compra del dólar</div>
                <div class="card-body">
                    <p class="card-text">
                        Tipo de cambio de compra del dólar.
                    </p>
                </div>
            </div>
            <div class="card text-dark bg-light m-1 shadow-sm card-button">
                <div class="card-header bg-transparent text-center">Venta del dólar</div>
                <div class="card-body">
                    <p class="card-text"> Tipo de Cambio Venta del dólar.</p>
                </div>
            </div>
        </div>
    </div>
</div>