
@{
    ViewBag.Title = "¿Quiénes Somos?";
}

<div class="breadcrumb-wrapper">
    <h1>CONVINEC</h1>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb p-0">
            <li class="breadcrumb-item">
                <a>
                    <span class="mdi mdi-home"></span>
                </a>
            </li>
            <li class="breadcrumb-item">
                Información
            </li>
            <li class="breadcrumb-item" aria-current="page">¿Quiénes Somos?</li>
        </ol>
    </nav>
    @Html.Partial("about/Information", null)
