@{
    ViewBag.Title = "Foro";
}

@section styles{
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css">
}
<div class="breadcrumb-wrapper">
    <h1>CONVINEC</h1>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb p-0">
            <li class="breadcrumb-item">
                <a>
                    <span class="mdi mdi-home"></span>
                </a>
            </li>
            <li class="breadcrumb-item">
                Foro
            </li>
            <li class="breadcrumb-item" aria-current="page">Visualizar Consulta</li>
        </ol>
    </nav>
</div>
@Html.Partial("form/QuestionView", null)
@Html.Partial("form/Answer", null)
@Html.Partial("form/Modal", null)

@section scripts{
    <script src="~/Content/assets/convinec/gijgo/gijgo.min.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#description").editor();
        });
    </script>
}